<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Photos:</strong>

  <% unless @blog.photos.blank? %>
  <ul>
    <% @blog.photos.each do |p| %>
    <li><%= p.photo_name %><br>
      <%# image_tag p.photo_file.medium.url %></li>
      <%= link_to(image_tag(p.photo_file.url(:small)), p.photo_file.url) %>
    <% end %>
  </ul>
  <% else %>
    <img src="/default.jpg">
  <% end %>

</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
